$base: #f3f1e8;
$base-dark: #d6d2c7;
$base-light: #ffffff;
$on-base: #000900;

$primary: #143159;
$primary-dark: #03102c;
$primary-light: #3d5174;
$on-primary: #e2e5ea;

$secondary: #d72741;
$secondary-dark: #a90429;
$secondary-light: #d76b78;
$on-secondary: #fceaee;

$error: #d32f2f;
$error-dark: #c62828;
$error-light: #ef5350;
$on-error: #ffebee;

$warning: #ed6c02;
$warning-dark: #e65100;
$warning-light: #ff9800;
$on-warning: #fff3e0;

$info: #0288d1;
$info-dark: #01579b;
$info-light: #03a9f4;
$on-info: #e1f5fe;

$success: #2e7d32;
$success-dark: #1b5e20;
$success-light: #4caf50;
$on-success: #e9eedb;

$link-color: hsl(198, 100%, 34%);
$link-hover-color: hsl(198, 100%, 34%);

$logo-color: #367638;
