<section class="flex-container">
  <div class="row">
    <mat-card>
      <mat-card-title> Bienvenido a DxInicitativas </mat-card-title>
      <mat-card-subtitle>
        Herramienta de gestión de iniciativas digitales
      </mat-card-subtitle>
      <mat-card-content>
        <span></span><br>
        <app-label-atom [text]="'Este portal está destinado a permitir la visibilidad de las
        iniciativas digitales, con la finalidad de impulsar la transformación
        digital.'"></app-label-atom>
      </mat-card-content>
    </mat-card>
  </div>
</section>
